.arrow {
    height: 0.9rem;
    width: 0.9rem;
    color: black;
    margin-left: 0.5rem;
}

.preview {
    height: 1.3rem;
    width: 1.3rem;
    color: black;
    cursor: pointer;
}

.title {
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}